[2020-04-08 10:07] tschmel opened #1 "Rendering in jupyter notebooks does not work"
Rendering the chord-charts does not seem to work in jupyter notebooks. Steps to reproduce:

1. Create environment (I use anaconda)
[code]

2. Execute example code in cell
[code]

### Expected Result
Some fancy chord plot

### Actual result
Nothing. The result of `Chord(matrix, names).to_html()` is also empty.

### Result of `conda list`
[code]

[2020-04-08 10:33] shahinrostami commented on #1
Thank you for reporting this @tschmel . I need a little more information to get started:

1. What browser/build are you using?
2. Can you bring up your web developer console and paste in any errors thrown from the JavaScript?

[2020-04-08 11:01] tschmel commented on #1
Hi @shahinrostami ,

here is the output from Chrome:

![image](https://user-images.githubusercontent.com/56080255/78776904-e1e39600-7998-11ea-9b8c-f5a213854afa.png)

I also tried it with Safari, but it is also not working. Here is the result:

![image](https://user-images.githubusercontent.com/56080255/78776931-f4f66600-7998-11ea-9bd3-f55d56be69d0.png)

I hope this helps!

[2020-04-08 11:51] shahinrostami commented on #1
It does help!

Chord retrieves a template when you invoke the constructor, this is loaded from a web resource. That part seems to be going fine because I can see the JavaScript error refers to the `d3` variable, which only exists in that downloaded template!

I look into this closer soon, you may find that switching browser or using `jupyter lab` instead of `jupyter notebook` may fix the issue in

[2020-04-08 12:32] tschmel commented on #1
Indeed, switching to `jupyter lab` solved the problem, so the issue might only occur with `jupyter notebook`s.  I will change the issue title accordingly.

[2020-04-08 12:42] shahinrostami commented on #1
I'm very happy you can at least start playing with it already @tschmel :)

I'll see what's causing the issue in `jupyter notebook` soon!

[2020-04-11 01:40] zhuchangzhan commented on #1
I have the same issue with jupyter notebook and confirmed that switching to jupyter lab works

[2020-04-11 15:40] ynskoroglu opened #3 "Scaling option"
Hello I am totally new to world of interactive graphs though I wanted implement this system to my laboratories dateset. I have small issue regarding readability. I want to host my results locally but the resulting HTML doesn't scale or minimize and it becomes divided. Zooming in or out in the browser also doesn't scale down the graph as well. Is it possible to deploy a solution for this problem wh

[2020-04-11 20:36] shahinrostami commented on #3
Hello @ynskoroglu

I will add height and width as optional flags to the chord constructor, this should give you control over the output. In the meantime, for readability, if you make your browser window narrow you will see that the diagram is responsive and will shrink to fit.

Once it's ready, I'll close this issue so that you are notified.

[2020-04-11 20:49] ynskoroglu commented on #3
Thanks for swift response and small trick. Will follow the updates.

[2020-04-11 21:47] shahinrostami commented on #1
Based on some tests I think it may be best to continue with primary support for `jupyter lab` rather than `jupyter notebook`. I will update the documentation to reflect this.

A user offered a workaround for `jupyter notebook`:

[code]

but support for this may be limited. If anyone figures it out please let us know!

[2020-04-11 21:47] #1 closed

[2020-04-11 22:44] shahinrostami commented on #3
You can update to `chord 0.0.8` (commit 2b62379fd349107c272e89abfbd5b42900ea9e8d) which has the optional flag `width`! I hope this addreses your issue.

[2020-04-11 22:55] ynskoroglu commented on #3
This is perfectly working, thanks for the update.

[2020-04-11 22:55] #3 closed

[2020-04-16 13:59] ringhilterra opened #4 "package is no longer working"
As of this morning without changing any of the versioning, the package no longer works for me. I see an error in the console. Yesterday, the same exact notebook was working fine. (to_html() .html file results has the same error shown when trying to render the html file)

Did some of the html / js code the package is referencing change last night / this morning? Im surprised it stopped working when

[2020-04-16 14:03] ringhilterra commented on #4
ah, after updating to the latest version in pip and restarting the kernel, it is now working.

[2020-04-16 14:03] #4 closed

[2020-04-16 14:35] shahinrostami commented on #4
Hi @ringhilterra, I'm glad that updating was an option and that it's working for you now! Part of what makes `chord` so easy to deploy in notebooks and on the web is, as you suggested, the loading of the external template. The issue you encountered this morning (I think) will have been from executing an earlier version of `chord`, which downloaded a new template that it wouldn't handle properly.

[2020-04-16 20:06] jamfwright opened #5 "Possible to Label Relationships"
First off - fantastic work, bought the book.  Really great stuff.

I'm not seeing a way to label the relationships.  Does that feature exist?  Will it exist?

For example, if I want to visualize network activity, I imagine the outer ring labels to be the network entities (such as computers) and the relationship would be labeled with the port used.

As an added "nicety" having the label show only w

[2020-04-16 21:11] shahinrostami commented on #5
I'm glad you like it!

That functionality doesn't exist, but it could.

Can you give me an example of how you would structure the data? Perhaps I could build something around it!

[2020-04-17 19:06] jamfwright commented on #5
Thanks!  I have a lot of thoughts of what I'd like to be able to do, I'll try to be concise :)

The short answer is that I want to leverage 3 or more fields and see different ways of doing so.

The full list of fields to leverage would be:

1. Source (a string - an IP address or host name)
2. Port (could be an integer or string - maybe this should be 3, or a specifier for TCP, UDP, ICMP)
3. Destin

[2020-04-19 20:57] deeplook opened #6 "Invisible labels"
I'm using Chord 0.0.9 with JupyterLab 2.1.0, but I don't see the labels outside the big circle. Any idea?

[2020-04-19 22:57] shahinrostami commented on #6
I know what you mean, can you tell me your browser what version? If it’s Firefox, I have seen this happen all the time... unfortunately that’s the case with the d3-chord code we wrap around. Let me know and I’ll take a look!

Shahin

[2020-04-20 05:46] deeplook commented on #6
Yes, I'm on Firefox. Sorry for not providing that info immediately.

[2020-04-20 22:52] shahinrostami commented on #6
I will take a look, but I think it may be an issue further up the line of dependencies. Will update when I can

[2020-04-24 18:11] ynskoroglu opened #7 "Fontsize of the labels"
Hello,
I am trying populate diagram with varying length labels, ranging from 4 to 20. In addition to that group with short long label has fewer instances. Thus labels overlaps and become unreadable.

I have 3 solutions coming to my mind, as possible solutions:
1) Automatically change font size according size of the groups.
2) Set sizes for each specific label as a list like names instances.
3) Div

[2020-04-25 00:30] shahinrostami commented on #7
Hello,

Thank you for checking out Chord and raising the issue.  Using the mobile app so please excuse the brevity.

For this scenario we have the wrap labels flag, I.e. ` wrap_labels=False`. Try it out and let me know what you think, does it solve your issue?

All the best,

Shahin

[2020-04-25 00:35] shahinrostami commented on #5
Replying with the mobile app so please excuse any typographical issues

Very cool ideas! As you’ve suggested, this is quite an extension of the current functionality. I plan to look at enabling the inclusion of more data as Chord matured as a package, and these ideas certainly take it beyond the d3-chord implementation.

I’ll try to figure out how to manage these types of feature request moving fo

[2020-04-25 21:52] ynskoroglu commented on #7
Hello Shahin,

Unfortunately this doesn't resolve the situation, as I already use wrap_labels while generating first file. I attached the resulting file for you to, you can obtain matrix and labels within file for replication.

[Network_Chord.zip](https://github.com/shahinrostami/chord/files/4534126/Network_Chord.zip)

[2020-04-25 22:01] shahinrostami commented on #7
Can you share the code you used to generate that output? It looks like your labels still wrapping, which shouldn't happen with `wrap_labels=False`

[2020-04-28 18:35] jamfwright commented on #5
Cool!  Best of luck with that :)

Thanks for taking the time to think about  my ideas.

[2020-05-04 22:45] #7 closed

[2020-05-04 22:46] shahinrostami commented on #7
Please re-open the issue if it comes up again

[2020-05-04 22:47] #6 closed

[2020-05-04 22:49] shahinrostami commented on #6
At the moment it looks like it’s an issue with d3-chord on Firefox. If I see a fix I’ll update the referenced script

[2020-05-20 01:31] Joey5729 opened #8 "output from .to_html() missing 'details' value"
![image](https://user-images.githubusercontent.com/18487866/82394534-50475980-9a17-11ea-9af5-199b83d1f36c.png)

I was able to fix it by just putting "" after it.
Without it my browser raised an error and the page was blank.

[2020-05-20 06:24] shahinrostami commented on #8
@Joey5729 Thanks for raising this issue.

The details parameter was introduced as an option in the latest publication of `chord`. Can you check that you're on `0.0.11`?

[2020-05-20 17:36] Joey5729 commented on #8
I was on 0.0.10, it worked correctly on 0.0.11. Sorry!

[2020-05-21 21:40] shahinrostami commented on #8
Happy it's resolved :)

[2020-05-21 21:40] #8 closed

[2020-05-21 21:41] shahinrostami commented on #5
Thank you :) the GitHub sponsors and Patreon programme are now up!

[2020-05-21 21:41] #5 closed

[2020-05-24 10:55] ThomasVercetti opened #9 "About the import issues"
When I was trying to import the Chord， some issues occurred:
Traceback (most recent call last):
  File "e:/anaconda/Anaconda/lib/site-packages/chord/__init__.py", line 21, in <module>
    template = urllib.request.urlopen(template_url).read()
  File "E:\anaconda\Anaconda\lib\urllib\request.py", line 223, in urlopen
    return opener.open(url, data, timeout)
  File "E:\anaconda\Anaconda\lib\urllib\

[2020-05-24 11:56] shahinrostami commented on #9
Hi, can you confirm which version you're on?

In the README I've put a notice about the recent breaking changes, such that everything moving forward would be backwards compatible!

Try
[code]
and let me know if it works!

[2020-05-24 12:43] ThomasVercetti commented on #9
Well, the version of chord is 0.0.11, and I tried the pip command, however it didn't works.

---Original---
From: "Dr. Shahin Rostami"<notifications@github.com&gt;
Date: Sun, May 24, 2020 19:56 PM
To: "shahinrostami/chord"<chord@noreply.github.com&gt;;
Cc: "Author"<author@noreply.github.com&gt;;"ThomasVercetti"<1246377298@qq.com&gt;;
Subject: Re: [shahinrostami/chord] About the import issues (#9)

[2020-05-24 14:31] shahinrostami commented on #9
I think that may be the problem. Check the current version of `chord`, which is `0.0.13` (https://pypi.org/project/chord/). Once you update the package, it should be fine.

[2020-05-25 09:10] AllenThomasDev opened #10 "Details parameter not working in Chord()"
Works perfectly when details parameter is not passed, but when details is passed there is no output. I'm using Jupyter Lab. There is no error, it's just a blank screen.

[2020-05-25 12:46] #10 closed

[2020-05-26 08:49] #9 closed

[2020-05-26 11:07] odhran456 opened #11 "chord package causes double prints"
I don't typically post issues so sorry if the quality of this post is below standards.
To recreate my issue, try:

import chord
print('Hello, world!')

The string 'Hello, world!' will be printed twice in the terminal. Is this expected behaviour? Can this be toggled off?

[2020-06-06 07:17] shahinrostami commented on #11
Hi, that’s indeed strange. I can’t reproduce it on my end, can you give any more details?

[2020-06-13 00:17] shahinrostami commented on #11
Was not able to reproduce - if you have any more details please re-open this

[2020-06-13 00:17] #11 closed

[2020-06-25 15:07] DSJourney opened #12 "No module named chord"
Hi,

I came across your chord package (which seems very cool by the way), and trying to use it I could not figure out how to make it work. Since I am quite new to the whole Python scene this might be a mistake from my part but after running:

- pip install chord
- from chord import Chord

Jupyter Lab does not recognize the module. I add two pictures below in case you can guide me on the possible s

[2020-06-25 15:13] DSJourney commented on #12
Forget about

[2020-06-25 15:13] #12 closed

[2020-06-25 15:14] DSJourney commented on #12
Forget about my post, I made a mistake with my virtual environments. It is fine!

[2020-06-25 18:03] shahinrostami commented on #12
I'm glad you resolved it @DSJourney ! I was actually just trying to reproduce your error before getting back to you :)

[2020-06-25 20:26] DSJourney commented on #12
Yeah, sorry for that... my mistake... it actually works very well thanks for putting it together.

I take the opportunity to ask, how can each connection show both numbers of the relationship, is that only on the pro version? I explain with images:

There is a relation in which, if you look from one side it occurs 2046 and if you look at it from the other side it occurs 1739

<img width="88" alt="

[2020-06-30 21:06] duanpv opened #13 "404 with the pypi link"
Hi Shahin,

Thanks for your great work.

Could you check the link in Installation part, pypi "Available on https://pypi.org/chord through pip:".
Is it should be https://pypi.org/project/chord/ not https://pypi.org/chord which shows as the image below

![image](https://user-images.githubusercontent.com/9216246/86176931-aa126780-bb1d-11ea-8a5a-224c7c34eca3.png)

Best regards,
Van

[2020-06-30 21:31] shahinrostami commented on #13
Hello @duanpv ,

Thanks for pointing that out - it's been fixed!

All the best,

Shahin

[2020-06-30 21:31] #13 closed

[2020-07-19 20:41] AviationFreak opened #14 "Unable to show in Visual Studio Code"
I understand that this project is built primarily with Jupyter in mind - However, I am working with Visual Studio Code and I am unable to get a Chord diagram to show using the show() or to_html() methods. Is there anything I can do to be able to display a chord diagram using this library in VSC?

Thanks!

[2020-07-19 20:48] shahinrostami commented on #14
Hello @AviationFreak! What are you running within VSC - is it an `.ipynb` notebook or `.py` source file? I'll check it out once you let me know and see what I can do!

[2020-07-19 20:50] AviationFreak commented on #14
@shahinrostami I'm running a .py file - Here's the pastebin: https://pastebin.com/tMZ1nzg5

(Requires Wikipedia-API)

[2020-07-19 22:22] shahinrostami commented on #14
@AviationFreak After changing the `.show()` call to `.to_html()` (`.show()` is for Jupyter Lab only), it appears to have worked! By default, it outputs `out.html` in the current directory which contains the interactive visualisation. Would love to see how it ends up when you're finished 👍

<img width="730" alt="Screenshot 2020-07-19 at 23 19 06" src="https://user-images.githubusercontent.com/15690

[2020-07-19 22:34] AviationFreak commented on #14
@shahinrostami Ah you're right! That's my bad - I didn't see the file it had generated in my overcluttered folder. Thanks for your help! :)

[2020-07-19 22:34] #14 closed

[2020-07-30 01:39] bowrango opened #15 "Chord(matrix, labels).show() only returns <IPython.core.display.HTML object> and no graph"
Using Pycharm CE on a Windows 10 machine. I verified the chord package is installed but no luck. I can save the object to a variable confirming its created, but I just can't view it.

from chord install Chord

fig = Chord(matrix, labels).show()

Returns:

<IPython.core.display.HTML object>

[2020-07-30 02:06] #15 closed

[2020-07-30 02:07] bowrango commented on #15
Changed the call to .to_html() and see the file in my directory

[2020-07-30 02:09] bowrango opened #16 "Only a white screen appears when running out.html"
A new Google Chrome tab opens up on my localhost when I run the html file, but there is no graph or anything.

[2020-07-30 08:48] shahinrostami commented on #16
Hi! Can you share a minimal example of your code and a little more about your environment?

[2020-07-30 13:53] bowrango commented on #16
Sure thing! I'm generating the out.html file from within my Pycharm IDE running Python 3.7. I'm on my local machine running Windows 10.

I run this to create the interactive html file, and can confirm its created:

`Chord(matrix, labels).to_html`

I then run the html file, and a tiny pop-up appears with several icons of web browsers. I select Chrome. A new Chrome tab opens, but no graph:

![result

[2020-07-30 20:53] shahinrostami commented on #16
Hello - can you try the attached Python file `demo.py` and let me know what the output looks like? It should output the attached `out.html` file.

You can also use the Chrome developer tools (https://developers.google.com/web/tools/chrome-devtools/open) and see if there's an error in the console. You could also pass over the `.py` file and the `out.html` and I'll take a look!

[2020-07-30 23:28] bowrango commented on #16
I can't seem to view the `demo.py` file, is it located somewhere in the repo?

There doesn't appear to be an issue with the HTML on the page. Here was my result, with the zipped raw file attached below:
![blank](https://user-images.githubusercontent.com/68204564/88982902-8155cd00-d297-11ea-91a5-04a6867cc1a3.png)

[out_HTML.zip](https://github.com/shahinrostami/chord/files/5004215/out_HTML.zip)

[2020-07-30 23:38] bowrango commented on #16
I can't seem the view the `demo.py` file, is it located somewhere in the repo?

Here is the error I received when it loaded the Google Chrome tab, with the zipped file below:
![error](https://user-images.githubusercontent.com/68204564/88984684-41451900-d29c-11ea-8cd0-3ca2a1a97b79.png)

[out_HTML.zip](https://github.com/shahinrostami/chord/files/5004243/out_HTML.zip)

[2020-08-08 07:51] shahinrostami commented on #16
Hello @bowrango, the `demo.py` was just a copy and paste from the first example in the GitHub README, it looks like it didn't attach! I downloaded your example HTML file. It points you to line 97 where you can see:

[code]

which isn't a proper assignment! It looks like this is an issue in your Python script somewhere. Head over to our Discord https://discord.gg/azcASEb wher we can help out with g

[2020-08-08 07:51] #16 closed

[2020-09-10 16:22] jcherry-risklens commented on #4
Interestingly I'm getting the exact same browser console error while in Jupyter Lab, with no chart rendered, and I'm running the current version of chord (0.3.0). Thoughts?

[2020-09-10 16:25] shahinrostami commented on #4
Hello @jcherry-risklens - happy to check this out for you. Can you post a new issue and attach a minimal example (python notebook) that reproduces your error?

[2020-09-10 16:37] jcherry-risklens opened #17 "Chart not rendering in Jupyter Lab"
I'm trying to render a chord plot in Jupyter Lab, but am getting an empty space where the output should be:

![jupyter](https://user-images.githubusercontent.com/51675341/92764138-02998880-f349-11ea-83d4-bdaef8e2b8a7.JPG)

![chrome_console](https://user-images.githubusercontent.com/51675341/92764146-04fbe280-f349-11ea-8ab5-fe3b4738ae5a.JPG)

Currently running chord v0.3.0, and jupyterlab v2.1.1. B

[2020-09-10 16:38] shahinrostami commented on #17
Hi @jcherry-risklens - can you please share the Python code that generates this error so I can look at it for you?

[2020-09-10 16:40] jcherry-risklens commented on #17
Is that not what the images are showing? The error occurs after line 76.

[2020-09-10 16:43] shahinrostami commented on #17
Hi @jcherry-risklens  - the screenshots are showing the invocation of Chord followed by the error, I need to see what transition_matrix is to help you with why! Most of it is missing in `out` cell [75].

You could also call .to_html() and attach the .html file.

[2020-09-10 16:46] jcherry-risklens commented on #17
The content of transition_matrix is showing on the first image, line 75.

Here's the .html file:
[code]

The matrix variable is concerning... it's truncating it for some reason...

[2020-09-10 16:48] jcherry-risklens commented on #17
Well I'll be darned... this works perfectly: `Chord(transition_matrix.values.tolist(), transition_matrix.index.values.tolist()).show()`.

[2020-09-10 16:48] shahinrostami commented on #17
and there we have the culprit!

Try passing in `.values.tolist()`...

[2020-09-10 16:50] shahinrostami commented on #17
Seems you updated your reply as I was posting mine - I'm glad it's working for you now 👍! If you're interested, Chord Pro has many more features https://datacrayon.com/shop/product/chord-pro/ 💯

[2020-09-10 16:52] jcherry-risklens commented on #17
Thanks, seems like such a simple little thing. I've been spoiled by using pandas and numpy!

[2020-09-10 16:52] #17 closed

[2020-10-01 07:11] Jiannan28 opened #18 "Chord graph can't display properly"
Try to create chord with the below matrix value, but can't display properly:

matrix2 = [
    [156, 46, 1, 1, 3, 0, 24],
    [46, 565, 6, 2, 10, 3, 51],
    [1, 6, 15, 0, 1, 0,1],
    [1, 2, 0, 7, 0, 0, 1],
    [3, 10, 1, 0, 16, 2, 3],
    [0, 3, 0, 0, 2, 9, 1],
    [24, 51, 1, 1, 3, 1, 143],
]

<img width="1792" alt="error" src="https://user-images.githubusercontent.com/11832120/94778723-581cfe80

[2020-10-03 21:49] shahinrostami commented on #18
Thanks for raising this.

This package is primarily for visualising co-occurrence rather than a mix of co-occurrence and occurrence (the diagonal of the matrix). This exception is thrown when the diagonal values are proportionally larger than half the sum of the matrix.

Explanation aside, I've found a fix, and will be pushing an update soon!

[2020-10-03 22:54] shahinrostami commented on #18
This bug has been fixed in Chord Pro:

<img width="716" alt="Screenshot 2020-10-03 at 23 52 42" src="https://user-images.githubusercontent.com/15690380/95003108-96224a00-05d3-11eb-9601-7c17a08bd345.png">

I will add this to the error handling update coming soon to both Chord Free.

[2020-10-03 22:54] #18 closed

[2020-10-04 12:23] Jiannan28 commented on #18
Thank you @shahinrostami . Adding the occurrence support will be super helpful.

[2020-10-04 14:10] shahinrostami commented on #18
It's available now in Chord Pro!

[2020-10-05 13:02] Jiannan28 commented on #18
Thanks @shahinrostami . Could I know if that's will be also available in Chord free version on your roadmap?

[2020-10-12 12:28] fiedl opened #19 "Nodes without connections"
## Scenario

I'm adding a node without connection to the chord diagram.

[code]

In the above example, the node without connection corresponds to the third `names` entry and to the last column and row in the `matrix` containing only zeros.

## Expected Behaviour

The chord diagram shows the labels of all nodes and the connections of the connected nodes. It does not show connections of the unconnec

[2020-10-12 12:41] shahinrostami commented on #19
Hello @fiedl

`chord` currently doesn't support items without any quantities at all (no occurrence or co-occurrence). What is your desired output for the third item - a thin line indicating with the corresponding label? This sounds like a possible feature in future. Are you using `chord` or `chord pro`?

At the moment I'm working on an update that contains better error logging, e.g. in this case t

[2020-10-12 13:19] fiedl commented on #19
Thank you for the quick reply! I'm using the free chord, but I would be willing to pay for chord pro if necessary — despite my work being scientific and open source.

Indicating the unconnected nodes with zero-width line would be fine. Even better for my use case would be to set the width (or percentage of the circle) for each node manually. This would allow me to have the node size indicate their

[2020-10-12 13:32] shahinrostami commented on #19
Happy to hear you're using `chord` for scientific work!

I asked because `chord` is on a feature freeze right now, with the upcoming update to be on better error messages. `chord pro` is still getting new features, with requests being accepted by `chord pro` owners too! It's only a small cost but it seems to be enough to fund some continued work on the project. You can check out `chord pro` here h

[2020-10-22 07:49] jkolom opened #20 "Chord will not work if HTTP proxy is needed (typical when in a company network) or when offline"
Since the template is downloaded via a HTTP request ([here](https://github.com/shahinrostami/chord/blob/71275be7d596a911b215947539a0eab555c0f8c8/chord/__init__.py#L42)), if one is behind a proxy, the HTTP request will not work.

For non-Pro Chord: would it be possible to just include the template with the distribution or to allow an offline mode to avoid using the HTTP request? No Internet else me

[2020-10-22 13:39] shahinrostami commented on #20
Hello @jkolom

Many thanks for raising this. I'll have a look at it when I can and try to come to a solution!

[2020-11-02 07:13] jkolom opened #21 "Jupyter Notebook->export as HTML seems not to work for Chord diagrams"
I am able to show Chord diagrams in Jupyter lab (not Notebook unfortunately, but that is described in the documentation).

I need to export the notebook so that it can be used in a report. Unfortunately, Jupyter Lab -> export to HTML does not include the Chord diagram. Is there some visualization quirk that causes this? I assume that it has to do with some specific of Chord because this does not h

[2020-11-02 07:17] jkolom commented on #20
PS: I assume that no offline use and that Chord Pro sends the data to your API server to generate the plot may be a specific that some may find important to have clearly documented while assessing usage of Chord Pro. I don't think that many companies would approve of certain data being sent to a 3rd party API. Worst case you may end up with legal issues, so I would recommend to have it at least cl

[2020-11-02 12:31] shahinrostami commented on #21
Hi @jkolom many thanks for raising this.

Are you able to share a minimal reproducible example and your web browser (+ version/build) please?

I'll look into this and see what I can do - I hadn't accounted for the "export to HTML" feature in Jupyter Lab.

[2020-11-02 12:46] shahinrostami commented on #20
Hi @jkolom, thanks for raising this. To add clarity around these facts I've added a section to the README.md https://github.com/shahinrostami/chord/blob/master/README.md#data-and-templates

This will be mirrored on PyPi and the Chord PRO manual!

[2020-11-02 13:21] jkolom commented on #21
I am currently on Jupyter Lab 2.2.6, Chrome Version 86.0.4240.111 (Official Build) (64-bit)
We use the export to HTML feature to generate readable reports mixing Markup and plots (actually we automate it with ``nbconvert -to html --TemplateExporter.exclude_input=True``).

The plot I am trying to export as part of the report is quite simple (not even Chord Pro). See analogous plot attached (issue a

[2020-11-02 13:34] shahinrostami commented on #21
Thank you for sharing the files.

It looks like some conflict with `require.js`. Can you open the exported HTML file and remove this part?

[code]

<img width="1364" alt="Screenshot 2020-11-02 at 13 33 32" src="https://user-images.githubusercontent.com/15690380/97873768-01b12180-1d10-11eb-9076-559c926e65e2.png">

Please confirm if that works!

[2020-11-02 15:44] jkolom commented on #21
Yes, removing the reference to ``require.js`` does make the plot appear. It also works with outpus ``nbconvert``

Perfect as a workaround! :) As per the root cause, it looks like the output (a full, independent html) is not fully liked by the renderer, if I interpret it correctly.

[2020-11-02 16:23] stefaneidelloth opened #22 "How to show custom hover message?"
I would like to show a message "The flow between $source and $target is $value"

[2020-11-02 16:24] stefaneidelloth opened #23 "How to show ticks and tick labels?"
I would like to show ticks and numeric tick labels on the outer circle.

![image](https://user-images.githubusercontent.com/12675339/97892386-37fe9900-1d30-11eb-84b1-9f3847ef0501.png)

[2020-11-02 23:31] shahinrostami commented on #21
I'm glad there's a way around it!

I think it's related to this issue https://stackoverflow.com/questions/15371918/mismatched-anonymous-define-module

Many of the scripts I use do not use require.js, and it seems like require.js works better if you're "all in" with using it to load libraries instead of referencing them with the `<script>` tag!

[2020-11-02 23:31] #21 closed

[2020-11-02 23:42] shahinrostami commented on #22
Hello! Are you using Chord Pro (https://datacrayon.com/shop/product/chord-pro/)?

If so - you can use the `verb` and `noun` parameters to change the following template:

[code]

e.g. the default is

[code]

Please feel free to join us on https://discord.com/invite/nsezsyb to discuss potential new features!

[2020-11-02 23:42] #22 closed

[2020-11-02 23:43] shahinrostami commented on #23
Hello!

The `chord` package currently does not support numeric ticks and labels - it may be coming in future!

[2020-11-02 23:43] #23 closed

[2020-11-03 19:19] shahinrostami commented on #19
Hello @fiedl

I've pushed a quick solution to this in `chord pro` (https://datacrayon.com/shop/product/chord-pro/!), that is, some support for unconnected nodes.

It requires an update to `chord 0.3.1` (Python) which has disabled `wrap_labels` by default.

Here is the output from your example code above:

<img width="671" alt="Screenshot 2020-11-03 at 19 16 33" src="https://user-images.githubuserc

[2020-11-03 19:19] #19 closed

[2020-11-03 20:27] fiedl commented on #19
Thank you

[2020-11-19 13:39] val-ismaili commented on #18
@shahinrostami is it possible to get labels for both ends of the occurences to show up? i.e. on the hover pop up between A and G, get it to show A to G occurence is X, and G to A occurence is Y ?

[2020-11-19 16:24] shahinrostami opened #24 "Improve labels for asymmetric chord diagrams"
_Originally posted by @val-ismaili in https://github.com/shahinrostami/chord/issues/18#issuecomment-730381109_

[2020-11-19 16:27] shahinrostami commented on #18
I've created a new issue from your comment @val-ismaili , check it out here https://github.com/shahinrostami/chord/issues/24#issue-746730826. I'll be working on it 👍

[2020-11-20 09:02] gaardhus opened #25 "Connections and labels doesn't show"
I'm trying to plot a Chord diagram of some network relations. I've created a matrix and list of names as in the tutorial, however to plot doesn't show labels or connections. It works for another network.

I'm working in JupyterLab

[code]

![image](https://user-images.githubusercontent.com/46934916/99780872-6396c700-2b17-11eb-8e52-74d585dec535.png)

[2020-11-20 09:22] #25 closed

[2020-11-20 17:29] srinivvenkat opened #26 "Directed chord diagrams"
Thanks for the easy to use, excellent package! Is there a way to visualize directed flows/dependencies?
Examples:
https://observablehq.com/@d3/directed-chord-diagram
https://observablehq.com/@d3/chord-dependency-diagram?collection=@d3/d3-chord

I see there's a symmetric tag but that doesn't accomplish this.

[2020-11-21 13:24] shahinrostami commented on #24
All done! With the `symmetric=False` option you now see output like below 👍

<img width="608" alt="Screenshot 2020-11-21 at 13 13 16" src="https://user-images.githubusercontent.com/15690380/99878361-b8603d80-2bfc-11eb-9d51-2dd3c8f0dc8f.png">

[2020-11-21 13:24] #24 closed

[2020-11-21 13:41] shahinrostami commented on #26
Hi @srinivvenkat , I'm glad you're enjoying the `chord` package.

As you said, `symmetric=False`, is the closest to achieving this right now

<img width="608" alt="Screenshot 2020-11-21 at 13 13 16" src="https://user-images.githubusercontent.com/15690380/99878641-ee9ebc80-2bfe-11eb-910b-b6afa230ab4d.png">

I can put this on the list as an enhancement - what do you think is missing? Is it the arrow

[2020-11-21 13:47] srinivvenkat commented on #26
Thanks for considering the suggestion. I think the simplest version doesn't even need an arrow, and retains the 'source' color for the entire length (instead of the gradient as it is right now). Arrow would make the incoming and outgoing distinction more apparent.

Another thing that will come up when dealing with directed graphs is the arc corresponding to each 'node' will vary depending on wheth

[2020-11-21 14:03] shahinrostami commented on #26
I see - I just had a closer look to see how this would be implemented in `chord pro`, and it's more different than I originally thought. I'll have a think about how to proceed with this one - I may create some kind of 'new feature" roadmap and move this and others like it there to better organise the work on the project.

Thank you for raising it!

[2020-11-21 14:05] shahinrostami commented on #20
Hi @jkolom I'm going to create some kind of feature roadmap for things like this and move them there soon! If you come up witth a solution in the meantime please let me know.

[2020-11-21 14:05] #20 closed

[2020-11-24 10:43] gaardhus opened #27 "Documentation of free vs pro features"
Thanks for a great package!

I'm trying to modify my chord by changing verb, noun and title using the free version, but nothing happens. I guess this might be because these are PRO features, but can't really find any information on which features from the python module are free and which are pro.

Are the "only" free features those described in this section (https://github.com/shahinrostami/chord#

[2020-11-24 13:42] shahinrostami commented on #27
Hello @gaardhus

Many thanks for the feedback - it really is a great idea.

I'm working on the error handling and soon the documentation in an effort to bring everything together ahead of a front-end for creating Chord Diagrams with `chord pro` using a web app. If you have a `chord pro` license ahead of the launch, you will get access to that for free as well!

In the meantime I've updated this pa

[2020-11-24 13:42] #27 closed

[2020-11-24 14:02] #26 closed

[2020-12-03 19:05] cozyscripts commented on #20
Hi, I also had issues being on a corp network. The work-around for me was:

- manually downloading the .tmpl file from the link in the __init__.py file

- saved it in an easily accessible location

- changed the source code of __init__.py to:

`#template_url = "https://datacrayon.com/assets/chord/chord_0_0_12.tmpl"
template = open('chord_0_0_12.tmpl', 'r').read()`

Hope this helps anyone looking f

[2020-12-03 19:39] shahinrostami commented on #20
Thank you for sharing your workaround @cozyscripts! I'm in the process of creating an FAQ so I'll be sure to add that to the list. I still need to find a solution for `chord pro`, eventually! Feel free to drop by our discord (https://discord.com/invite/nsezsyb) if you want to share your creations 👍

[2020-12-08 04:57] akdeepak commented on #18
Hi @shahinrostami  ,
We are using the chord for co occurence relationship since it has a very good visual representation .
The problem we are facing is the labels are not fully shown in the display.
could you please let us know how can we solve this issue,  since the labels are having larger words , so " wrap_labels = True"  hiding the complete label name
<img width="499" alt="python_chord" src="h

[2020-12-08 07:18] polyra commented on #18
Hello @akdeepak - this is a closed issue about a different problem you're replying to! Are you a `chord pro` user?

[2020-12-08 07:19] shahinrostami opened #28 "Label configuration"
Hi @shahinrostami  ,
We are using the chord for co occurence relationship since it has a very good visual representation .
The problem we are facing is the labels are not fully shown in the display.
could you please let us know how can we solve this issue,  since the labels are having larger words , so " wrap_labels = True"  hiding the complete label name

_Originally posted by @akdeepak in https:

[2020-12-08 07:20] shahinrostami commented on #28
Hello @akdeepak, I created this new issue for you.

Are you `chord pro` users?

[2020-12-08 07:32] akdeepak commented on #28
Dear @shahinrostami  , Thanks for the quickly reverting.

No , We are exploring this for our POC , If our business like this visualization , we may migrate to pro version.

Please find the visual representation

<img width="499" alt="python_chord" src="https://user-images.githubusercontent.com/19904559/101453492-6dad2800-3955-11eb-81fe-5e2a07893aa2.PNG">

[2020-12-08 07:46] shahinrostami commented on #28
Hello again @akdeepak! Try using the `margin` parameter to customise the look of your chord diagram, e.g. in my example below.

<img width="767" alt="Screenshot 2020-12-08 at 07 44 39" src="https://user-images.githubusercontent.com/15690380/101454702-4e98a100-3929-11eb-96db-1b1fad23d8bc.png">

[2020-12-08 08:02] akdeepak commented on #28
Dear @shahinrostami
Awesome ! this is what exactly i wanted ! Thank you for solving my issue in a quick turn around time.

It was great to have a discussion, Kindly close the issue.

Many thanks & kind Regards
Deepak  K

[2020-12-08 08:03] #28 closed

[2020-12-22 08:50] guettli opened #29 "License: AGPL"
Hi,

I integrated you library into my application to create nice chord diagrams.

Now I see that you use the AGPL license.

I don't work for google, but that's interesting [AGPL not allowed](https://opensource.google/docs/using/agpl-policy/)

Does this mean I need to open source my application?

[2020-12-22 09:43] shahinrostami commented on #29
Hello @guettli ,

`chord` (free) does indeed use the AGPL license.

`chord` (pro) doesn't. Check it out here (https://datacrayon.com/shop/product/chord-pro/), it's a lifetime license which doesn't have the open source requirement.

[2020-12-23 13:18] guettli commented on #29
Thank you. Unfortunately does my employer not allow me to use AGPL software. I will use [holoviews Chord](https://holoviews.org/reference/elements/bokeh/Chord.html) now.

Thank you for your fast reply.

[2020-12-23 13:18] #29 closed

[2020-12-23 13:30] shahinrostami commented on #29
No problem @guettli .

To be clear, `chord pro` is not AGPL. That is just `chord free`.

[2021-01-05 15:18] NilsErlanson opened #30 "API error when creating several"
Hi,
I've bought the PRO version of chord and integrated it to a web interface where I need to create several chord diagrams. After I've created some diagrams I get thrown an API error exception and need to restart the creation of the diagrams.

Thanks for a beautiful visualization package.

[2021-01-05 18:01] shahinrostami commented on #30
Hello @NilsErlanson

I'm glad you like it!

The error reporting will be better in future, but in the meantime I can try help you navigate this issue. It seems to be an error with the input. Some errors you're receiving are:

`TypeError: can only concatenate str (not "list") to str`

`TypeError: unsupported operand type(s) for /: 'list' and 'int'`

If you pop onto the Discord, https://discord.gg/ns

[2021-01-05 18:01] #30 closed

[2021-01-10 17:55] FilipKon opened #31 "Too many requests made to chord free"
Hi,

I wanted to ask why I'm getting too many requests, when I almost didn't do any chord diagrams ? There was also nowhere listed that there is a limit of doing chord diagrams. Just that there are not so many options for the free package, but still I should be able to make some simple diagrams or not?

Best regards,
Filip

[2021-01-10 19:04] shahinrostami commented on #31
Hi @FilipKon ,

I hope you and yours are well and safe.

Are you seeing the rate-limiting error immediately?

Chord and Chord Pro were moved into the same service to avoid duplicate maintenance efforts. I was caught off-guard by the surprising number of requests made per minute, e.g. sometimes hundreds, so rate-limiting was introduced to ensure availability of the service.

Check out the new Chord

[2021-01-10 19:04] #31 closed

[2021-01-10 19:28] FilipKon commented on #31
Hi @shahinrostami,

I hope you and yours are also well and safe.

So in my IDE I'm getting the Error API Error and when I open the HTML file it says Rate Limit exceeded. But does it mean that when I created let's say 10 diagrams that I will get blocked forever?  Because also after waiting 2-3 days I couldn't do even 1 diagram.

Best regards,
Filip

[2021-01-10 19:31] shahinrostami commented on #31
@FilipKon That doesn't sound right... once you hit a rate-limit, it should only last 1 hour (maximum).

Can you drop by our Discord @ https://discord.com/invite/nsezsyb ? I can try to work with you to see what's going on. One thing I forgot to ask - have you updated your Chord package?

[2021-01-10 19:39] FilipKon commented on #31
@shahinrostami  Sure sounds good. Yesterday I removed Chord and installed it again, but I still had the error. So I think I have the newest version. I have right now 0.10.2 if thats the newest one.

[2021-01-12 17:01] jkolom commented on #21
A short update (the new version reminded me of doing that... :D )

Removing ``require.js`` will indeed make make the Chord visualization work. But it will break others. One combinaiton I tried that definitely does NOT work is [plotly|https://plotly.com/] plots and Chord plots in the same Jupyter Lab notebook.

Chord diagrams will in such a (not-so-strange) combination not show in the notebook. Or

[2021-01-12 17:12] shahinrostami commented on #21
Hi @jkolom, Happy New Year!

Can you give any more details about your environment? I run Plotly and Chord at the same time in the same notebook without issue, so it would be good to track down the issue. Also, with Chord Pro https://datacrayon.com/shop/product/chord-pro/, you can now use `show_png()` to output a PNG to your notebook, or `to_png()` to save to a file.

[2021-01-13 17:19] DushyantSahoo opened #32 "Correlation matrix"
Hi,

Is it possible to make a chord diagram of a sparse correlation matrix? I tried plotting but the results were not as expected. I think, it doesn't have the functionality to use negative values might be due definition of chord diagrams, I might be wrong.

Thank You,
Dushyant Sahoo

[2021-01-13 17:25] shahinrostami commented on #32
Hi Dushyant,

I hope you and yours are well!

Chord diagrams, at least the ones in this package, are for visualising a co-occurrence matrix. I've seen them hacked about to represent something similar, but you're right that negative values have no defined behaviour.

I'm interested in the idea...  if simply adding support for negative values will open up a whole new possibility for visualisation. H

[2021-01-13 17:25] #32 closed

[2021-01-21 13:39] akdeepak opened #33 "Chord does not display in Jupter notebook - OS - Windows"
Dear Dr.Shahin

I have used beautiful chart of chord in linux machines jupyter notebook , now i would like to showcase the chord diagrams to my business team on windows os , but the the chart does not displays the output rather it displays " please upgrade your package/crate) please find the snapshot

Chord version - 0.12.0

<img width="462" alt="chord_issue" src="https://user-images.githubusercon

[2021-01-21 15:35] shahinrostami commented on #33
Hello @akdeepak

For commercial use you need to pick up a Chord Pro license (https://datacrayon.com/shop/product/chord-pro/)

I would double check the version of Chord, try `pip uninstall chord` and `pip install chord` again. You should only see that message on lower versions!

[2021-01-21 15:35] #33 closed

[2021-01-21 16:10] akdeepak commented on #33
I have already tried pip uninstall chord and pip install chord , no luck , sure will for the licensed version post the first level of showcasing the chart to business teams ,
Could you please tell me any other solutions. Thanks in advance

[2021-02-01 13:03] CaiCaiYa opened #34 "When can the chord-free support Chinese？"
when the list has Chinese，The relevant part is garbled of the generated html file。Or my usage is wrong？I don`t know

[2021-02-01 13:06] shahinrostami commented on #34
@CaiCaiYa There's only one way to find out!

Can you share as much as you can with me so I can investigate? It can be tough to track. In the first instance can I have:

- The code you are using to generate the diagram (please remove your license details)
- The HTML file that is being outputted (please attach it too)

[2021-02-01 13:30] CaiCaiYa commented on #34
Two parameters:
list=['SFG额上回', 'MFG额中回', 'IFG额下回', 'OrG眶回', 'PrG中央前回','PCL中央旁小叶']

matrix = [
    [0, 5, 6, 4, 7, 4],
    [5, 0, 5, 4, 6, 5],
    [6, 5, 0, 4, 5, 5],
    [4, 4, 4, 0, 5, 5],
    [7, 6, 5, 5, 0, 4],
    [4, 5, 5, 5, 4, 0],
]
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
![Garbled  ](htt

[2021-02-01 13:44] CaiCaiYa commented on #34
1. thank you for your reply
2. I use pycharm to do this work.
3. the encoding format of pycharm and html file is utf-8.
4. If there is a problem with my encoding format settings ,please tell me how to solve

[2021-02-01 13:51] shahinrostami commented on #34
I'm on lunch right now but when I finish work I'll use the data you shared above and try to reproduce the error. I'll also share any encoding I used if it works. I don't use pycharm but I shouldn't think that causes an error!

I'll keep this issue open and update when I have something 👍

[2021-02-01 19:18] shahinrostami commented on #34
Hi @CaiCaiYa

Check below where I copied over your inputs and generated the output without garbled text. I think it must be an issue with pycharm in this case, which I don't have much experience with. Can you check it with their support/community to see what they think it may be?

<img width="316" alt="Screenshot 2021-02-01 at 19 16 52" src="https://user-images.githubusercontent.com/15690380/10650

[2021-02-02 00:52] CaiCaiYa commented on #34
thank you very much.
I will try other ways to solve this problem.

[2021-02-05 21:48] #34 closed

[2021-03-04 21:35] evan-wes opened #35 "offline mode?"
Hi,

I have been experimenting with the Chord Free version and so far I am enjoying the visualizations. However, I run into an issue with the "Too many requests made to chord free" message. If I am working on a project that utilizes a chord visualization, and am running it and testing it as I write the code for other parts of the project, this message shows up after a while. Now from your response

[2021-03-04 22:17] shahinrostami commented on #35
Hi @evan-wes !

Happy to see you're enjoying the visualisations :)

Maintaining `chord-pro` and `chord-free` ended up being quite onerous as they were two different codebases. To address that I merged them into one, with `chord-pro` allowing the use of additional customisations and modes (e.g. those here https://datacrayon.com/posts/statistics/data-is-beautiful/chord-pro-features-for-chord-diagram

[2021-03-04 22:17] #35 closed

[2021-04-10 22:31] zedrdave opened #36 "HTML display not working in Jupyter"
Just installed and ran the latest version (with a Pro licence) and can't seem to get the HTML display to work in Jupyter.

I tested with the sample code, and png works, but `.show()` just results in an empty output.

Digging through the browser console, I'm seeing: `[Error] ReferenceError: Can't find variable: d3 (anonymous function) (Script Element 10:24)`… Line 24 contains:
`colors = d3.schemeSe

[2021-04-10 23:24] shahinrostami commented on #36
Hello @zedrdave

Thanks for submitting this. I'll look into this in the morning if you can share some more information about your environment and how to reproduce this please.

Are you running Jupyter Lab or Jupyter Notebook? Chord pro only supports outputting to Jupyter Lab cells, just in case you're using the latter.

If that's not the issue, please let me know what package versions you're using

[2021-04-10 23:32] zedrdave commented on #36
I am indeed running Jupyter Notebook, not Lab. I didn't realise that `.show()` wasn't supposed to work with the former…

The HTML seems to be mostly displayable (it even works using `.to_html()` and `%%html`), except for that strange error mentioned above.

[2021-04-10 23:35] zedrdave opened #37 "Arc for diagonal data…"
While testing with the non-pro version, it seemed that diagonal data (number of instances from a node to itself) were ignored: the area was shown on the outer circle, but no arc was plotted.

With the Pro version, there is an arc to itself (which essentially looks like a half ellipse). Is there a way to obtain the behaviour of the non-Pro version (diagonal data used for scale of each node, but no

[2021-04-11 07:47] shahinrostami commented on #36
Hi @zedrdave

It seems that's the cause! Jupyter Lab had become popular as their "next-generation" [1] web interface when I first created the `chord` library, so I focussed support on that. It still operates on Jupyter notebooks, but functions a little differently behind the scenes [2].

I think I would need to write a Jupyter Notebook extension to get it working in both! However, I believe the di

[2021-04-11 07:47] #36 closed

[2021-04-11 07:52] shahinrostami commented on #37
Hi @zedrdave

The `pro` version has the defined and intended behaviour for entries in the diagonal of the matrix.

Can you share a minimal example (code + screenshot) that demonstrates the output you're after? I'm happy to take feature requests, so I could add this one to the list!

[2021-04-11 08:50] zedrdave commented on #37
I can understand that this would be the preferred default behaviour. It would be great if there was a flag option to disable it.

It's fairly simple to reproduce, using the default sample code with some values added along the diagonal, eg:
[code]

Calling `Chord(matrix, names)` then gives this in non-Pro mode:
<img width="405" alt="Screenshot 2021-04-11 at 10 47 04" src="https://user-images.github

[2021-04-11 09:44] shahinrostami commented on #37
Thank you for the screenshot, I understand exactly what you mean now!

I don't think it will be too troublesome to implement a flag for that so I'll put it on top of the list. I was planning to work on `chord pro` tonight so I'll try slip this in to the update. I'll ping you on this issue when it's done 👍

[2021-04-11 14:25] shahinrostami commented on #37
Hey @zedrdave, pinging you as promised!

I've reproduced the desired `chord free` for `chord pro` under the parameter `colored_labels` being set to `False`. This is available in version `1.0.0` of  `chord` (please update with `pip`!).

There's an example in the documentation [1] and here's a screenshot too:

<img width="741" alt="Screenshot 2021-04-11 at 15 23 05" src="https://user-images.githubus

[2021-04-11 14:38] zedrdave commented on #37
Thanks a lot for your reactivity and fast work on this! I'll test it and let you know if there's any problem…

Since we're in suggestion mode: may I suggest perhaps extending the current templating approach (`verb`, `noun`) to something more generic and broader: eg passing a Python-style or JS-style f-string that gets used as template…

[2021-04-11 14:46] shahinrostami commented on #37
My pleasure :) I'll close this for now but please re-open you spot anything wrong with it.

This one is actually already on my list! I won't be removing the existing parameters (to maintain some backwards compatibility), but I will be adding a new overriding parameter to specify a template.

The main challenge for me is finding time to work on it! The lifetime license model I'm using means it's ge

[2021-04-11 14:46] #37 closed

[2021-04-11 14:48] zedrdave commented on #37
I hear you, and I'm perfectly happy with it as is. Merely when you feel inspired and have time for it. Good luck with everything!

[2021-04-11 16:28] zedrdave opened #38 "Credit flag no longer working"
It seems there was a regression introduced: passing `credit=False` to Chord pro no longer produces a version without credit (it has less text than the `credit=True` version, but still some)…
From looking at the client code: the problem is on the server side…

(sorry to bother you again! Hopefully this is an easy one to fix 😅)

[2021-04-11 16:46] zedrdave commented on #38
I think you are in the middle of tinkering with this, so just on the off-chance that can help, I think you got the wrong commenting style for the injected JS: 😉

<img width="692" alt="Screenshot 2021-04-11 at 18 45 09" src="https://user-images.githubusercontent.com/746979/114313272-3367b900-9af6-11eb-9283-4feb14dd0da8.png">

[2021-04-11 16:50] shahinrostami commented on #38
You guessed correctly! I was in middle of testing it and then I had to answer the door... one moment!

[2021-04-11 17:02] zedrdave commented on #38
No worries. I'm taking a break anyway…
Just didn't want you to spend time wondering why code wasn't working… because of a silly commenting format error (I know how that goes) 😅

[2021-04-11 17:03] shahinrostami commented on #38
All done now 😃 if you're interested, that mistake was me forgetting single-line Mako comments were with "##"! Thank you for pointing it out

[2021-04-11 17:03] #38 closed

[2021-04-16 14:42] jkolom opened #39 "Maybe wrong string in generated HTML?"
On a new installation, the chord plot is not showing (`chord 1.0.0`). After debugging the HTML, it seems that there was a `credits =  True` entry that should be `credits = true`. After manually correcting the HTML, the HTML rendered correctly.

Excerpt of the surrounding HTML code below:
[code]

[2021-04-16 14:44] shahinrostami commented on #39
Hello @jkolom ! Are you on Chord `Pro` or Chord `Free`? I recall fixing this last week, but perhaps it was just for `Pro`

[2021-04-16 15:03] jkolom commented on #39
I used the free version to be local (I have the pro one also). So maybe the local file with the Python package is not updated (?)

[2021-04-16 15:50] shahinrostami commented on #39
No problem - thanks for highlighting this!

I finish work in an hour and I'll fix it and let you know :)

[2021-04-16 17:20] shahinrostami commented on #39
@jkolom All fixed now :) let me know if anything comes up.

[2021-04-16 17:20] #39 closed

[2021-05-07 09:09] csaund opened #40 "`Allow_download` does not download -- js error"
Hello,

As stated, the `allow_download` functionality does not work. Functionally, the `allow_download` parameter works and the Download button appears next to the chart, but it fails to download. A screenshot of the error in the js console of chrome is posted below:
I think the offenders are probably:

`Access to script at 'https://datacrayon.com/assets/chord/download/d3-save-svg.js' from origin

[2021-05-07 10:00] shahinrostami commented on #40
Hello @csaund

Thanks for sending this through. It's an experimental and quite temperamental feature because each browser handles it differently, and with the (justifiable) increase in browser security over time, I may have to remove it.

In anticipation of this I created the new output methods available here https://datacrayon.com/posts/statistics/data-is-beautiful/chord-pro-features-for-chord-di

[2021-05-15 10:38] WuJunxu opened #41 "to_png('out.png') how to set dpi ? Cause output pic is fuzzy"

[2021-05-15 10:41] shahinrostami commented on #41
Hello @WuJunxu!

I can look into this with more information:

Can you please share the code you're using to generate the fuzzy-looking PNG, and also the PNG itself?

Thank you

[2021-05-15 12:19] WuJunxu commented on #41
Thanks for your reply.

Not exactly fuzzy, when the image zoomed in, the detail in not so clear, maybe the output image with low dpi(dots per inch). I used the code from the PDF Guide, as followings:

'''
From chord import Chord
matrix= [[22,33,44],[12,43,18],[45,98,28]]
names=['A','B','C']
Chord(matrix,names).to_png('out.png')
'''

I wonder how I could get the higher dpi image? Just like Python m

[2021-05-15 18:37] shahinrostami commented on #41
Ah, I see what you mean. There's currently no configuration available for the `to_png()` function in Chord Pro, however, you can achieve what you're after with `.to_pdf()`! If you use `.to_pdf()` you should be able to zoom in as much as you'd like, e.g.:
<img width="762" alt="Screenshot 2021-05-15 at 19 36 34" src="https://user-images.githubusercontent.com/15690380/118374585-de1b3d80-b5b4-11eb-8fb

[2021-05-15 18:37] #41 closed

[2021-05-15 18:48] shahinrostami commented on #40
Hello @csaund!

I've had some time to work on this. Can you test it and see if it works?

[2021-05-15 23:00] WuJunxu commented on #41
It really works! Thank you.

[2021-05-21 19:33] shahinrostami commented on #40
Please let me know if you encounter it again! Closing for now.

[2021-05-21 19:33] #40 closed

[2021-06-11 16:41] JoffJones opened #42 "Http issues with university firewall"
Hi there! Thanks for making this great tool. I am having similar problems to those mentioned before where the interaction with the web services isn't being authenticated (https://github.com/shahinrostami/chord/issues/20).

Is there a workaround for the latest version?

Many thanks,
Joff

[2021-06-11 17:06] shahinrostami commented on #42
Hi Joff

I'm glad you like it.

Can you share an error and some more details?

The feature of having it work through a secured work/school network is tricky as I can't reproduce it on my end, and there is little funding to work with on this project!

[2021-06-11 17:48] JoffJones commented on #42
Thank you for the quick response! Its the SSL certificate verification error referred to in previous posts. I've copied the full error below:

from chord import Chord
Chord(eg_mat, ['b', 'a']).show()

SSLCertVerificationError                  Traceback (most recent call last)
~/.conda/envs/networks/lib/python3.8/site-packages/urllib3/connectionpool.py in urlopen(self, method, url, body, headers, r

[2021-06-11 20:08] shahinrostami commented on #42
@JoffJones Thanks for pasting that over. Does this work https://stackoverflow.com/a/43855394/29445 ?

[2021-06-11 20:23] shahinrostami commented on #42
@JoffJones in the meantime, I've just added `verify_ssl=False` to Chord!

`pip uninstall chord` and then `pip install chord` to update to `1.0.2`!

[2021-06-12 11:25] JoffJones commented on #42
@shahinrostami  thank you very much for the quick fix! I managed to get it working but unfortunately during testing I hit the limit on number of requests made using the free version

[2021-06-12 13:48] shahinrostami commented on #42
M@JoffJones It just means many people are using the chord_free endpoint! The rate limit expire every hour. Let me know if it works!

[2021-06-12 15:42] shahinrostami commented on #42
Ah, I just noticed you said you got it working! Glad it works.

[2021-06-12 15:42] #42 closed

[2021-06-12 15:43] shahinrostami commented on #20
I've just added `verify_ssl=False` to Chord!

`pip uninstall chord` and then `pip install chord` to update to `1.0.2`!

[2021-06-19 08:51] JA-Jones opened #43 "Keeping the partitions (the names that you specify and their colour blocks) the same size even if there is no connections between them"
Hi Shahin,

I recently bought Chord Pro and have started to draw some basic chord diagrams.
However, I couldn't find any documentation linked to my below question;

I want to make a chord diagram with 12 sections (in the case of the example this would be the 'names' variable)

Of the 12 sections only a number of them are actually interrelated. I want equidistant portions (the circle cut into 12 se

[2021-06-19 09:44] shahinrostami commented on #43
Hi @JA-Jones

I hope you and yours are well!

You can achieve what you're after with [the `coloured_diagonals=False` argument ](https://datacrayon.com/posts/statistics/data-is-beautiful/chord-pro-features-for-chord-diagrams/#Colored-Diagonals)👍

I've just created an additional section for you [here](https://datacrayon.com/posts/statistics/data-is-beautiful/chord-pro-features-for-chord-diagrams/#Eq

[2021-06-19 11:08] JA-Jones commented on #43
Hi Shahin,
I can't thank you enough for responding so quickly! It is very much appreciated. I've had a look, and it seems that the colored_diagonals code worked a charm. Thanks again. kind regards, Jolyon.

[2021-06-19 13:48] shahinrostami commented on #43
It's my pleasure :)

All the best!

[2021-06-19 13:48] #43 closed

[2021-06-24 06:43] Sathvik833 opened #44 "Is there a way to increase the size of the connection to make it appear more visible?"
how can I change the size of the connections to make the connections appear more visible
![Screenshot 2021-06-24 at 01-44-25 Chord Diagram](https://user-images.githubusercontent.com/61035070/123215170-bbbaf080-d48d-11eb-93a3-a459edcf4248.png)

[2021-06-24 07:38] shahinrostami commented on #44
Hello @Sathvik833 ! At the moment the only way to change the size of connections is by increasing their value proportionally in the co-occurrence matrix. I can see perhaps a need for a "minimum thickness" at some point, I'll add that onto my feature list for future!

[2021-06-24 07:38] #44 closed

[2021-08-08 03:01] RodolfoFigueroa opened #45 "No longer functional?"
When I try to generate an HTML file from a diagram, the following message appears:

[code]

Does this mean this package has been discontinued?

[2021-08-08 09:31] shahinrostami commented on #45
Hi

`Chord Pro` still works for license holders.

`Chord Free` still works as it did previously, however, it is being used so frequently that the rate-limit is almost always being hit.

All new features will only be added to [Plotapi](https://plotapi.com). You can see some of the [latest Chord features here](https://plotapi.com/gallery/posts/showcase/league-of-legends-classes-with-plotapi-chord/).

[2021-08-08 09:31] #45 closed

[2021-08-30 11:42] jkolom opened #46 "Call to Chord(...).show() displays only ad for PlotApi"
Having had to reinstall fresh my computer (Anaconda, plotly, chord), the output of Chord(...).show() is now the picture below.

![image](https://user-images.githubusercontent.com/520942/131331781-210c0b55-1fa6-45e7-a743-cdc016f2501d.png)

I just checked, and it seems like the option to plot offline has been removed since 0.5.0, which basically makes this library unusable where data should not be s

[2021-08-30 11:53] shahinrostami commented on #46
Hello

Sorry if brief, unfortunately have covid.

Chord and now Plotapi have been service-based for a while you are right. More details in README. Chord Pro (paid version) has always been this way too.

You're right if the data cannot leave your network you won't be able to use this. I recommend Plotly (offline mode) or writing in d3js directly.

All the best

[2021-08-30 12:08] #46 closed

[2021-09-09 02:44] Sathvik833 opened #47 ".to_png()"
![image](https://user-images.githubusercontent.com/61035070/132613807-40e9a921-8d3d-4f5c-b4a8-3cd5db710b2d.png)

[2021-09-09 02:44] Sathvik833 commented on #47
why is saying this when I do .to_png()

[2021-09-09 03:15] Sathvik833 commented on #47
does the .to_png() not work

[2021-09-09 03:16] Sathvik833 commented on #47
if it does work how do i get it

[2021-09-09 06:11] shahinrostami commented on #47
Hi - the server side rendering of PNGs and PDFs was an experimental feature in Chord Pro. If you'd like those features and more please visit https://plotapi.com

[2021-09-09 06:11] #47 closed